In [11]:
#importing the libraries 
import pandas as pd
#reading the csv file
df = pd.read_csv('data/RiyadhAqqar.csv')
df.head()

,Unnamed: 0,Property type,city,District,Interface,Space,priceMeter,totalprice
0,0,أرض,الرياض,حي الياسمين,شرقية,496,5500,2728000
1,1,أرض,الرياض,حي المصيف,شرقية,329,4600,1513400
2,2,أرض,ابها,حي القرى,ثلاث شوارع,6503,5000,32515000
3,3,أرض,الرياض,حي النرجس,شمالية شرقية,900,4444,4000000
4,4,أرض,الرياض,حي النرجس,جنوبية,875,6000,5250000

In [12]:
# حذف العمود الاول
df.drop("Unnamed: 0", axis=1, inplace=True)
 
df.head()

,Property type,city,District,Interface,Space,priceMeter,totalprice
0,أرض,الرياض,حي الياسمين,شرقية,496,5500,2728000
1,أرض,الرياض,حي المصيف,شرقية,329,4600,1513400
2,أرض,ابها,حي القرى,ثلاث شوارع,6503,5000,32515000
3,أرض,الرياض,حي النرجس,شمالية شرقية,900,4444,4000000
4,أرض,الرياض,حي النرجس,جنوبية,875,6000,5250000

In [14]:
from sklearn import linear_model

# استخراج البيانات من DataFrame
X = df[['Space', 'priceMeter']]
y = df['totalprice']

regr = linear_model.LinearRegression()
regr.fit(X, y)

# طلب إدخال القيم من المستخدم
Space = float(input("Enter Space: "))
priceMeter = float(input("Enter price of one meter: "))

# تنبؤ السعر الاجمالي
predictedPrice = regr.predict([[Space, priceMeter]])

print(predictedPrice)

Enter Space: 400
Enter price of one meter: 3500
[2031184.82142533]

C:\Users\hani4\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(